body {
    font-family: "Open Sans", sans-serif;
    color: #333;
    text-align: center;
    margin-top: 10%;
    background: url('cubes.png');
}

h1 {
    margin-bottom: 5%;
}

#clock {
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

.digit {
    width: 0.25em;
    overflow: hidden;
    text-align: right;
}

.sep {
    width: 1em;
    font-weight: bold;
    text-align: center;
}

#startstop {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em 1em;
}

.paused {
    background-color: #8AC757;
    border: 0.2em solid #7FAE59;
}

.paused:hover {
    background-color: #A2D578;
}

.paused:active {
    border: 0.2em solid #68A436;
}

.running {
    background-color: #FF9C17;
    border: 0.2em solid #F2900C;
}

.running:hover {
    background-color: #FFAE42;
}

.running:active {
    border: 0.2em solid #ED8800;
}

/* from colorschemedesigner.com:

.primary-1 { background-color: #8AC757 }
.primary-2 { background-color: #7FAE59 }
.primary-3 { background-color: #68A436 }
.primary-4 { background-color: #9CD56D }
.primary-5 { background-color: #A2D578 }

For when it's running, didn't use these in their entirety:
.primary-1 { background-color: #FF9200 }
.primary-2 { background-color: #F2900C }
.primary-3 { background-color: #ED8800 }
.primary-4 { background-color: #FF970D }
.primary-5 { background-color: #FF9C17 }

*/
